*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Caveat', cursive;
}
body{
    background-image: url("back.png");
    background-repeat: no-repeat;
    background-color: rgb(165, 164, 160);


}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: auto
}
header h1{
    
    font-size: 15rem;
    font-weight: bold;
  

}
main{
    
    width: 100%;
    height: auto;
    min-height: 900px;
    
}
nav{
    background-color: rgb(53, 53, 97);
    padding: 10px 0 10px ;
    margin-top: 10px;
    width: 100%;   
}


nav ul{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-items: center;
    justify-content: space-evenly;
    

}
nav li{
    list-style-type: none;
    

}

nav li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
a:hover{
    color:lightslategray;
}
/* A W3school alapján készült a legördülő menü */
.dropbtn {
    background-color: rgb(53, 53, 97);
    color: white;
    padding: 16px;
    font-size: 1.5rem;
    border: none;
  }
  .dropbtn:hover{ color:lightslategray}
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(53, 53, 97);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(53, 53, 97);
                            color: lightslategray}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(53, 53, 97);}
article{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-evenly;
    justify-content: space-evenly;
    padding: 30px;
    

}
article div img{
    height: auto;
    width: 300px;
    border-radius: 10%;
    border: 2px solid white;
    margin-top: 30px;
    padding: 20px;
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 700px){
    nav ul{
        flex-direction: column;
        align-items: stretch;
        align-items: center;
        justify-content: space-evenly;
        
    
    }
    header h1{
    
        font-size: 8rem;
           
    }
}

.donut-pic{
    width: 340px;
    height: auto;
} 