.form{
    display: flex;
    flex-direction: column;
    align-content: center;   
}

article{
    font-size: 20px;
    vertical-align:bottom;
}

.form div{
    padding-bottom: 30px;
}

article div h4{
   font-size: 50px;
}

th, td{
    border-bottom: 1px solid #ddd;
    padding: 20px;
}


table {
   border-collapse: collapse; 
}
  
#email{
    width: 30%; 
    padding: 10px; 
    border-radius: 10px;
    box-sizing: border-box;
}

input[type=email]:hover{
    cursor: pointer;
}

.textarea_p{
    padding: 10px;
}

textarea{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

textarea:focus{
    cursor: pointer;
    border: 1px solid  #666565; 
}

textarea:hover{
    cursor: pointer;
    border: 1px solid  #666565; 
}


.submit{
    padding: 8px;
    width: 80px;
    border-radius: 10px;
    font-size: 19px;
    cursor: pointer;
    background-color: #e8e8e1;
}

.submit:hover{
    background-color: #666565;
    color: white;
}

table input[type=radio]:hover{
    cursor: pointer;
}

input[type=checkbox]:hover{
    cursor: pointer;
}

fieldset{
    padding: 30px;
    border: 4px solid black;
    border-radius: 10px; 
}

@media screen and (max-width: 580px){


    .form div{
        padding-bottom: 0px;
    }

    article{
        font-size: 15px;
    }

    fieldset{
        padding: 0px;
    }


    .submit{
        padding: 4px;
        width: 40px;
        border-radius: 5px;
        font-size: 10px;
        cursor: pointer;
    }

    article div h4{
        font-size: 30px;
    }

    th, td{
        padding: 5px;
    }

      
    #email{
        width: 20%; 
        padding: 1px; 
        border-radius: 50px;
    }

    .textarea_p{
        padding: 5px;
    }

    textarea{
        padding: 5px;
        border-radius: 5px;
    }


    fieldset{
        padding: 5px;
        border: 2px solid black;
        border-radius: 5px; 
    }
}

@media screen and (max-width: 520px){
    textarea{
        width: 80%;
    }

    #email{
        width: 20%; 
        padding: 1px; 
        border-radius: 50px;
    }
    
}